#navbar-sidemenu {
  width: 80%;
  max-width: 400px;
  min-width: 200px;
}

@media (max-width: 200px) {
  #navbar-sidemenu {
    width: 100%;
    min-width: auto;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-top: 0.7rem;
    padding-bottom: 00.7rem;
  }

  #navbar-sidemenu {
    width: auto;
    min-width: auto;
    max-width: none;
  }
}
